fastapi
uvicorn
streamlit
langchain
langchain-community
chromadb
sentence-transformers
pymupdf
pypdf
python-dotenv
openai-whisper
edge-tts
google-generativeai
groq
requests
fpdf2
matplotlib
numpy
python-multipart
